<div>
  <nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
    <!--
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        https://getbootstrap.com/docs/4.3/components for more features 
    -->
    
    <a href="#" class="navbar-brand">Gin</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>
<!--
  https://getbootstrap.com/docs/4.0/utilities/spacing/
  Where property is one of:

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
l - for classes that set margin-left or padding-left
r - for classes that set margin-right or padding-right
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
blank - for classes that set a margin or padding on all 4 sides of the element
Where size is one of:

0 - for classes that eliminate the margin or padding by setting it to 0
1 - (by default) for classes that set the margin or padding to $spacer * .25
2 - (by default) for classes that set the margin or padding to $spacer * .5
3 - (by default) for classes that set the margin or padding to $spacer
4 - (by default) for classes that set the margin or padding to $spacer * 1.5
5 - (by default) for classes that set the margin or padding to $spacer * 3
auto - for classes that set the margin to auto
-->
  <div class="container mt-4">
    <!--To enable routing, we need to use router-outlet into our HTML template like this. -->
    <router-outlet>What is this?</router-outlet>
  </div>
</div>